* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.heading {
  margin-top: 3em;
  margin-bottom: 1.5em;
}

div {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}


h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
  letter-spacing: 1px;
}


p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #555;
  min-height: 24px; 
}


input {
  padding: 12px 15px;
  width: 100%;
  font-size: 1.3rem;
  border: 2px solid #0077cc;
  border-radius: 8px;
  outline: none;
  transition: 0.25s ease-in-out;
}


input:focus {
  border-color: #005fa3;
  box-shadow: 0px 0px 6px rgba(0, 119, 204, 0.3);
}
